<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<bean class="com.te.spring.Amir" autowire="constructor">
		<property name="name" value="Amir" />
		<property name="phoneNo" value="1234567890" />
		<property name="age" value="23" />
	</bean>
	<bean class="com.te.spring.Phone" name="phone">
		<constructor-arg value="vivo" />
		<constructor-arg value="30000" />
	</bean>

	<bean class="com.te.spring.Phone" name="phone3">
		<constructor-arg value="vivo" />
		<constructor-arg value="30000" />
	</bean>


	<bean class="com.te.spring.Demo" />

</beans>