<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
     
     <bean name="bank" class="com.jsipders.maven.spring.springexample.Bank">
      
      <property name="bank_Name">
      <value>State Bank of India</value>
      </property>
      
      <property name="ifsc">
      <value>SBIN000715</value>
      </property>
      
      <property name="no_of_customer">
      <value>1000</value>
      </property>
      
     </bean>

</beans>